<div class="contentHeader">
  <div class="search" style="visibility:hidden;">
    <input type="text" placeholder="Type here to search..."/>
    <a class="searchBlueButton" href="#">Search</a>
  </div>
  <div class="menu">
    <ul>
      <li class="selected mainmenu"><a href="#">Site Users</a></li>
      <li class="mainmenu"><a href="#">Stores</a></li>
      <li class="mainmenu"><a href="#">Categories</a></li>
      <li class="mainmenu"><a href="#">Contact</a></li>
    </ul>
  </div>
</div>