
<h3>Add a Picture/Logo</h3>
<label>Retailer Logo:</label>
<input type="button" id="upload_r" name="upload_r" value="Retailer Logo" class='edgyBlueButton cookie_setter' onclick=" upload_img($(this));"/>
<label>Item Picture:</label>
<input type="button" id="upload_item" name="upload_item" value="Item Image" class='edgyBlueButton cookie_setter' onclick="upload_img($(this));"/>
<br /><br />

<div class="divider"></div><br />