<%  content_for :title, 'beam-e-up | Hotspot' %>
<%  content_for :keywords, '' %>
<%  content_for :description, '' %>

<div class="content">
  <%= render :partial=> 'partials/main_menu' %>
  <div class="contentInside">
    <!-- Content goes here-->
    <%#= render 'index' %>
    <div class="clear"></div>
    <%= render 'form' %>
    <div class="clear"></div>

    <!-- Content ends here-->
  </div>
</div>